<footer class="bg-gray-200">
  <div class="p-2 w-full grid grid-cols-1">
    <div class="col-start-1 col-span-1">
      <span class="font-medium">
        Children's Home Infusion Pharmacy
      </span>
      <span class="font-light">
        South Bend, IN 46601
      </span>
    </div>
    <div class="col-start-2 col-span-1">
      <span class="font-light [&>*]:px-1 hover:[&>*]:underline hidden">
        <a href="#">LinkedIn</a>
        <a href="#">Instagram</a>
        <a href="#">Email</a>
      </span>
    </div>
  </div>
</footer>
